body {
    font-family: "Open Sans", sans-serif;
}

// font-family: 'Montserrat', sans-serif;

// NAVIGATION
nav {

    // &.navbar {
    //     display: block;
    // }

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;

    @media (min-width: 980px) {
        .dropdown:hover .dropdown-menu,
        .dropdown:focus .dropdown-menu {
           display: block;
        }
    }

    .custom-toggler.navbar-toggler {
        border-color: #000;
        border-width: 2px;
    }
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    &.navbar {
        border-bottom: 2px solid $color-purple;
    }

    &.navbar {
        background-color: #fff;
        // align-items: flex-start;
    }

    & a.nav-link {
        color: #000 !important;
        font-size: 1.3rem;
    }

    .dropdown-menu {
        // border: 2px solid $color-purple;
        border-radius: 0;

        .dropdown-item {
            font-weight: 700;
            font-size: 1.3rem;
        }
    }

    .navbar-brand {
        width: 14rem;

        .logo {
            width: 100%;
            height: auto;
        }
    }

    .right-corner {
        justify-content: flex-start;
        align-content: flex-start;
        margin-left: auto;
        a {
            display: inline;
            font-size: 0.7rem;
            padding: 0 0.2rem;
            display: inline-flex;
            align-items: center;

            i {
                color: $color-purple;
                padding-right: 5px;
                font-size: 5px;
            }
        }
    }
 }



//  HEADER

.header {
    height: 30rem;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

// BLOG AREA

.blog {
    margin: 3rem 0;



    .card {
        border: 2px solid $color-purple;
        flex: 1;

        &-img-top {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }

    .btn-primary {
        background-color: $color-purple;
        border-color: $color-purple;
    }

    .sidebar {
        border: 2px solid $color-purple;
        border-radius: 0.25rem;
        flex: 2;
        padding: 1.25rem;
    }

    .pagination {

        .page-link {
            color: black;
            border: 1px solid $color-purple;
        }
    }
}

.footer {
    background-color: $color-purple;
    // color: rgb(187, 187, 187);
    color: #fff;
    padding: 4rem 0;

    &-logo {
        width: 20rem;
    }

    ul.footer-menu {
        list-style: none;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        li {
            // border-right:solid 1px #fff;
            border-right:solid 1px rgb(187, 187, 187);
            font-weight: 700;

        }

        li:not(:last-child) {
            // border-right:solid 1px #fff;/* This will not give border to last li element */
            border-right:solid 1px rgb(187, 187, 187);
        }

        a {
            color: white;
            // color: rgb(187, 187, 187);
            display: inline-block;
            text-transform: uppercase;
        }
    }

    i {
        color: #fff;
        font-size: 2.5rem;
    }

    .copyright {
        font-size: 0.8rem;
    }

    .social-icons {
        i {
            padding: 0 1rem;
        }
    }
}




.btn-end {
    width: auto;
    align-self: flex-start;
}

